.logo{
    img{
        width: 3em;
        transition: 1s;

        &:hover{
            transform: scale(1.1);
        }
    }
}

.navTitulo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    h1{
        color:rgb(241, 199, 199);
    }
    span{
        color:$color-letra;
    }
}

