// ----------------Reset de la pagina - Inicio ------------------------
*{
    margin:0;
    padding:0;
}
// ----------------Reset de la pagina - fIN ------------------------
$color-letra:rgb(226, 106, 8);
$color-fondo:#212529;









@import "headerFooter";