// -------------------------Rese単as de Hamburguesas - Inicio-------------------------------
.hero{
    background-image: url(/css/imagenes/Carrusel1.jpg);
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloHero{
    color:$color-letra;
    text-shadow: black 3px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}
.subTItuloHero{
    color:$color-letra;
    font-size: 2em;
    width: 65%;
    text-shadow: black 3px 0px 0px;
}
.boton{
    .btn{
        font-size: 2rem;
        background-color: $color-letra;
    }
}
.boton{
    .btn:hover{
        background-color: $color-letra;
    }
}
.tituloRese単a{
    color: $color-letra;
    background-color: $color-fondo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
.contenedorHamburguesa{
    background-color :$color-fondo2;
}

.nosotros{
    background-color: $color-fondo2;
}
.hamburguesaRese単a{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0,0.8);
    h4{
        color:$color-letra;
    }
    p{
        color:white;
        font-size: 1.2em;
    }
}
.imagen1{
    transition: 1s;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
// -------------------------Rese単as de Hamburguesas - Inicio-------------------------------